# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries for Data Science
- Explore various open-source development environments for Data Science
- Perform basic arithmetic operations in Python
- Convert time units using Python expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib
6. Keras

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio          |
| Apache Zeppelin  |

### Examples of Arithmetic Expressions

In [14]:
(3 * 4) + 5

17

# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

In [16]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Sastry